$primaryDarkBlue: #240D57;
$primaryBlue: #501FC1;
$primaryPurple: #8456EC;
$primaryPink: #E87BF8;

$secondaryLightBlue: #CCB6FF;
$secondaryLightPurple: #EDE5FF;
$secondaryLightPink: #F6F2FF;

$alertPink: #FFD7E0;
$alertRed: #E61445;
$alertLightGreen: #D3FFE2;
$alertGreen: #00805E;

$neutrals01: #4F4F4F;
$neutrals02: #828282;
$neutrals03: #BDBDBD;
$neutrals04: #E0E0E0;
$neutrals05: #F2F2F2;
$neutrals06: #BDBDBD;

$black: #000000;
$white: #ffffff;

$other01: #FBFAFF;
$other02: #7E808F;
$other03: #F9F9FC;
$other04: #6a6b74;
$other05: #C7C9D3;
$other06: #F1F3FA;
$other07: rgba(196, 196, 196, 0.4);
$other08: #EBEEF9;
$other09: #dde0eb;

