@import "../../../../var.scss";

.fileInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 36px;
    border: 1px dashed $other05;
    background-color: $other06;

    &__avatarWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin: auto;

        &_loading {
          background: $other07;
          backdrop-filter: blur(4px);
        }

        .img {
          position: relative;

          .file {
            width: 136px;
            height: 136px;
            border-radius: 8px;
            object-fit: cover;
          }

          .closeIcon {
            z-index: 3;
            position: absolute;
            top: -8px;
            right: -8px;
            cursor: pointer;
          }

          .blur {
            z-index: 2;
            width: 100%;
            height: 100%;
            position: absolute;
            background: $other07;
            backdrop-filter: blur(4px);
            border-radius: 8px;
          }
  
          .loader {
            z-index: 2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }

        .fileName {
          margin: 8px auto 0 auto;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $black;
        }
    }

    &_icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_title {
      margin-top: 24px;
      font-size: 16px;
      font-weight: 500;
    }
    &_subTitle {
      font-size: 16px;
      font-weight: 300;
    }
    &_btn {
        margin-top: 16px;
        width: 144px;
        height: 40px;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: $white;
        background-color: $primaryBlue;
    }
    &__label {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      width: 150px;
      height: 36px;
      &_input{
        font-size: 0;
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    }
  }